@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500&display=swap');
@import url("fonts/font.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'GT Walsheim Pro', 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h3, p, dt, a {
  font-family: 'GT Walsheim Pro', sans-serif;
}

h2 {
  font-family: 'GT Walsheim Pro Condensed', sans-serif;
  font-weight: 900;
  font-style: normal;
}

:root {
    --background: #fff;
    --tech: #F6EEE3;
    --mywords: #FFCCC6;
    --skills: #fdfcdd;
  
    --greenHead: #3A6447;
    --blueHead: #AEB4F4;
    --fontColor: #141414;
    --fontColormain: #5d5d5d;
  
    --codeTag: #141414;
    --codeSkill: #80fb7ab1;
    --codeTool: #c57afb9c;
    --codeMore: #fbc57acb;
    --codeUp: #7afbb8b9;
  
    --icons: #3c3b3b;
    --Hover: #3A6447;
  
  
    --demoBtn: #3A6447;
    --codeBtn: #6DB486;
    --readBtn: #EDFF8B;
    --defaultBtn: #95958d;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
